body{
   background-color: black;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: white;
  }
main {
    background-color: white;
  }
h1 {
    color: red;
}
h2 {
    color: #DC143C;
}